@charset "UTF-8";
/* CSS Document */

/*-----------------------------------------------------------------------------------

  - Basic
  - Main
  - Font
  - Text
  - Header
  - Footer
  - Slider
  - Works

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/
html {
  height: 100%;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

/*Google Chrome、Safariへの対応*/
.contents_box::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

article {
  width: 96%;
  margin: auto;
}

p {
  text-indent: 1rem;
}

h3 {
  margin-bottom: 5px;
}

h5 {
  margin: 2px;
}

iframe {
  margin: 0 auto;
  display: block;
}

/* ----------------------------------------------------------------
	Main
-----------------------------------------------------------------*/
.top {
  margin-top: 60px;
}

.Two-column {
  display: flex;
  width: 100%;
}

.right {
  width: 50%;
}

.left {
  width: 50%;
}

/* ----------------------------------------------------------------
	Font
-----------------------------------------------------------------*/
.DotGothic16 {
  font-family: "DotGothic16", sans-serif;
}

/* ----------------------------------------------------------------
	Text
-----------------------------------------------------------------*/
.title {
  position: relative;
}

.title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #6ad1c8,
    #6ad1c8 2px,
    #fff 2px,
    #fff 4px
  );
  background: repeating-linear-gradient(
    -45deg,
    #6ad1c8,
    #6ad1c8 2px,
    #fff 2px,
    #fff 4px
  );
}

.title-half {
  position: relative;
}

.title-half:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 96%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #6ad1c8,
    #6ad1c8 2px,
    #fff 2px,
    #fff 4px
  );
  background: repeating-linear-gradient(
    -45deg,
    #6ad1c8,
    #6ad1c8 2px,
    #fff 2px,
    #fff 4px
  );
}

/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/
header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-color: #1abc9c;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

.logo {
  font-size: 25px;
  line-height: 12px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.nav {
  margin: 0 0 0 auto;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

.sm {
  display: none;
}

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/

#footer {
  background-color: #eee;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 100vh;
  width: 100%;
  font-size: 1.75rem;
}

.device-lg.sticky-footer #top-bar,
.device-md.sticky-footer #top-bar {
  z-index: 299;
}

.device-lg.sticky-footer #header,
.device-md.sticky-footer #header {
  z-index: 199;
}

.device-lg.sticky-footer #slider,
.device-lg.sticky-footer #page-submenu,
.device-lg.sticky-footer #page-title,
.device-lg.sticky-footer #content,
.device-md.sticky-footer #slider,
.device-md.sticky-footer #page-submenu,
.device-md.sticky-footer #page-title,
.device-md.sticky-footer #content {
  z-index: 2;
}

.device-lg.sticky-footer #footer,
.device-md.sticky-footer #footer {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.device-lg.sticky-footer:not(.stretched) #footer,
.device-md.sticky-footer:not(.stretched) #footer {
  left: 50%;
  margin-left: -610px;
  width: 1220px;
}

.device-md.sticky-footer:not(.stretched) #footer {
  margin-left: -500px;
  width: 1000px;
}

#footer .footer-widgets-wrap {
  position: relative;
  padding: 80px 0;
}

.footer-widgets-wrap .col_full,
.footer-widgets-wrap .col_half,
.footer-widgets-wrap .col_one_third,
.footer-widgets-wrap .col_two_third,
.footer-widgets-wrap .col_three_fourth,
.footer-widgets-wrap .col_one_fourth,
.footer-widgets-wrap .col_one_fifth,
.footer-widgets-wrap .col_two_fifth,
.footer-widgets-wrap .col_three_fifth,
.footer-widgets-wrap .col_four_fifth,
.footer-widgets-wrap .col_one_sixth,
.footer-widgets-wrap .col_five_sixth {
  margin-bottom: 0;
}

#copyrights {
  padding: 10px 0;
  background-color: #ddd;
  font-size: 14px;
  line-height: 1.8;
}

#copyrights i.footer-icon {
  position: relative;
  top: 1px;
  font-size: 14px;
  width: 14px;
  text-align: center;
  margin-right: 3px;
}

.copyright-links a {
  display: inline-block;
  margin: 0 3px;
  color: #333;
  border-bottom: 1px dotted #444;
}

.copyright-links a:hover {
  color: #555;
  border-bottom: 1px solid #666;
}

.copyrights-menu {
  margin-bottom: 10px;
}

.copyrights-menu a {
  font-size: 14px;
  margin: 0 10px;
  border-bottom: 0 !important;
}

#copyrights .col_half {
  margin-bottom: 0 !important;
  margin-left: 5%;
}

#copyrights a:first-child {
  margin-left: 0;
}

#copyrights .tright a:last-child {
  margin-right: 0;
}

.footer-logo {
  display: block;
  margin-bottom: 30px;
}

#footer a {
  text-decoration: none;
  color: #000;
}

/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/
.slider {
  background-color: rgb(219, 219, 219);
  padding-left: 0;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider .slick-slide {
  margin: 0;
}

/* ----------------------------------------------------------------
	Works
-----------------------------------------------------------------*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.game-row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.game {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  position: relative;
  overflow: hidden; /* 画像を親要素内にクリップ */
}

.game-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* 画像をトリミング */
  aspect-ratio: 980/600; /* 比率を維持するためのアスペクト比 */
}

.game-info {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 5px;
  height: 30%;
  opacity: 0;
  transition: opacity 0.3s;
}

.game:hover .game-info {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}

.game:hover .overlay {
  opacity: 1;
}

.pf-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.game-info ul {
  margin: 3px;
  list-style: none;
  padding-left: 0;
}

.games .title-list.main > li .detail .info-box .pf-list .pf {
  width: 15.58%;
}

.games .title-list .list .detail .info-box .pf-list .pf {
  max-width: 7em;
}

.pf-list .pf.vr {
  background: #0068bf;
  padding: 3px 10px;
  font-size: 0.8rem;
}

.pf-list .pf.ios,
.pf-list .pf.android {
  background: #333;
  padding: 3px 10px;
  font-size: 0.8rem;
}

.pf-list .pf.pc-win,
.pf-list .pf.pc-mac {
  background: #107c10;
  padding: 3px 10px;
  font-size: 0.8rem;
}

.pf {
  padding: 5px 0 5px 0;
}

.pf-list .pf {
  color: #fff;
  background: #333;
  border-radius: 5em;
  font-size: 0.2rem;
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: 1vw;
  padding: 0.35em 0.5em;
  text-align: center;
}

.youtube_wrap {
  padding-top: 56.25%;
  width: 100%;
  position: relative;
}

.youtube_wrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
